<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDcUf9v9Ok-RBvz30A5RKIKaHShJh6w3HI</string>
	<key>GCM_SENDER_ID</key>
	<string>1097309088576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sst.sinsata</string>
	<key>PROJECT_ID</key>
	<string>sinsata-manager</string>
	<key>STORAGE_BUCKET</key>
	<string>sinsata-manager.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097309088576:ios:1a634ff0c7827f6cffe8a5</string>
</dict>
</plist>